@media(min-width: 768px) {
    #silder_sub {
        width: 240px;
        margin-top: 51px;
        position: absolute;
        z-index: 1;
        height: 600px;
    }

    .mysearch {
        margin: 10px 0;
    }

    .page_main {
        margin-left: 255px;
    }
}