@media screen and (max-width:2160px){
    html{
        font-size: 12px;
    }
    .box{
        height: 800px;
    }
    .hotGame-card{
        padding: 2rem;
        height: 35rem;
    }
}
.set-bg{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}